---
import Section from "@/components/Section.astro"

import { basics } from "@cv"
const { summary} = basics
const { summary2 } = basics
const { summaryMain } = basics
---
<Section title="About">
    <p>
        {summary}
    </p>
    <p class="summary2">
        {summary2}<span> {summaryMain}</span>
    </p>
</Section>

<style>
    .summary2{
        margin-top:10px;
    }
    span{
        color: #111;
    }
</style>