---
import Section from "../Section.astro"
import HTML from "@/icons/html.astro"
import CSS from "@/icons/css.astro"
import JavaScript from "@/icons/javascript.astro"
import TypeScript from "@/icons/type.astro"
import React from "@/icons/react.astro"
import Node from "@/icons/node.astro"
import MySQL from "@/icons/sql.astro"
import Git from "@/icons/git.astro"
import GitHub from "@/icons/GitHub.astro"
import Tailwind from "@/icons/tailwind.astro"
import Next from "@/icons/next.astro"
import { skills } from "@cv"

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
}
---

<Section title="Habilidades">
    <ul>
      {skills.map(({ hability, highlights }) => (
        <li>
          <span>{hability}</span>
          <ul>
            {highlights.map((skill) => {
              const Icon = SKILLS_ICONS[skill]
  
              return (
                <li>
                  {Icon && <Icon />} <span>{skill}</span>
                </li>
              )
            })}
          </ul>
        </li>
      ))}
    </ul>
  </Section>
  
  

<style>

    ul {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
    gap: 1rem;
   }

   article {
    border-radius: 8px;
    border: 1px solid #888;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
   }

   article:hover {
    border: 1px solid #444;
   }

   article header {
    flex: 1;
   }

   article h3 {
    margin-bottom: 4px;
   }

   article a {
    color: #111;
   }

   article a:hover {
    text-decoration: underline;
   }

   article p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
   }

   article h3 span {
    color: rgb(0, 255, 64);
   }

   footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
   }

   footer span {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
   }
</style>